<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

		
		<!-- PIM -->
		<beans:bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
			<!-- <beans:property name="driverClassName" value="com.mysql.jdbc.Driver" /> -->
			<beans:property name="driverClassName" value="net.sf.log4jdbc.DriverSpy" />
			<beans:property name="url" value="jdbc:mysql://127.0.0.1:3306/pim" />
			<beans:property name="username" value="pimadmin" />
			<beans:property name="password" value="admin1234" />
		</beans:bean>
		
		<beans:bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
			<beans:property name="dataSource" ref="dataSource" />
			<beans:property name="configLocation" value="classpath:/sql/mybatis-config.xml" />
		</beans:bean>
		
		<beans:bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
			<beans:constructor-arg index="0" ref="sqlSessionFactory" />
		</beans:bean>
		
		<beans:bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
			<beans:property name="dataSource" ref="dataSource" />
		</beans:bean>
		
		
</beans:beans>